body {
  margin-left: 0px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}


Input#username,
#email,
#password {
  width: 315px;
  height: 40px;
  border: 0.5px solid #ddd7dd;
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-left: -15px;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}